*{
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-content: center;
}

.guess-area {
    margin-top: 30px;
    text-align: center;
}

#main-chord {
    margin-bottom: 15px;
}